fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
alembic
pydantic
pydantic-settings
python-dotenv
python-multipart
python-jose
passlib
bcrypt
requests
httpx
razorpay
google-genai
openai
elevenlabs
psycopg2-binary
